@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #FBF9F1;
    color: #5E160F;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main h1 {
    text-align: center;
    text-wrap: pretty;
}

input,
select {
    border: 1px solid #000000;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    display: block;
    width: 100%;
}

select {
    padding: 7px 5px;
}

.input-cntnr:not(:first-child) {
    margin-top: 1rem;
}

.btn-cntnr {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    color: #FFFFFF;
    background-color: #EC3925!important;
    border: 1px solid #EC3925;
    padding: 16px 32px;
    border-radius: 10px;
    font-weight: 500;
    border-radius: 32px;
}